@tailwind base;
@tailwind components;
@tailwind utilities;

.home-container {
    background-color: #FFD622;
}

.home-btn {
    background-color: #6250FE;
}

.git {
    background-color: #E07263;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}